<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div>
    <p> You ordered: </p>

    <% @line_items.each do |line_item| %>

    <tr>
    <td>
      <%= image_tag line_item.product.image.tiny %>
    </td>
    <td>
      <h4>  <%= line_item.quantity %> <%= line_item.product.name %></h4>
      <br>
      <p><%= line_item.product.description %></p>
    </td>

    <% line_item_total_dollars = line_item.total_price_cents.to_f %>
    <% line_item_total_dollars = line_item_total_dollars / 100 %>

    <td>
      Total for this product:  $ <%= line_item_total_dollars %>
    </td>
    </tr>

    <br>
    <br>

    <% end %>
  </div>

  <br>
  <br>
          <% order_total_dollars = @order.total_cents.to_f %>
          <% order_total_dollars = order_total_dollars / 100 %>
  <div>
    Total price for entire order: $ <%= order_total_dollars %>
  </div>
  <div>
    Email address used for order: <%= @order.email %>
  </div>

</section>
